html, body {
  font-family: lato, sans-serif;
  color: #424551;
  line-height: 160%;
  font-size: 16px;
}
@media (max-width: 550px) {
  html, body {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  html, body {
    font-size: 12px;
  }
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 3.25rem;
  padding: 0 2.5rem;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  white-space: nowrap;
  transition: 0.3s;
}
.button:hover {
  transform: scale(1.05);
}
.button--empty {
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}
.button--empty span {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading {
  color: #1E212C;
}
.heading__subtitle {
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.heading__title {
  display: inline-block;
  font-weight: 900;
  font-size: 2.875rem;
  line-height: 170%;
  cursor: pointer;
  position: relative;
}
.heading__title::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #1E212C;
  transition: 0.5s;
}
.heading__title:hover::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #FF3F3A;
  transition: 0.5s;
}
@media (max-width: 1000px) {
  .heading .heading__subtitle {
    margin-bottom: 1rem;
  }
  .heading .heading__title {
    max-width: 78%;
    line-height: 130%;
  }
}
@media screen and (max-width: 550px) {
  .heading html, .heading body {
    font-size: 14px;
  }
  .heading .heading__title {
    font-size: 2rem;
  }
}

.header {
  background: url("../images/decor/shapes-bg.svg") 50% 50%/cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
  opacity: 1.2;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 11.25rem;
}
.header__top-inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem 0;
  margin: 0rem 0rem 6rem 0rem;
}
.header__btn-box {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 2rem;
}
.header__nav-list {
  display: flex;
}
.header__nav-item {
  margin-right: 2.5rem;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link:hover {
  color: #FF3F3A;
}
.header__top-btn {
  margin-right: 2rem;
}
.header__user-nav {
  position: relative;
  padding-left: 1.75rem;
}
.header__user-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  background: url("../images/icons/user-icon.svg") no-repeat;
  width: 20px;
  height: 20px;
}
.header__user-btn:hover {
  color: #FF3F3A;
}

/*========header body========*/
.header {
  /*========header row========*/
}
.header__main-inner {
  color: #1E212C;
}
.header__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto) 190px;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin: 0rem 0rem 6rem 0rem;
}
.header__play {
  display: inline-flex;
  align-items: center;
  letter-spacing: -1px;
  margin-bottom: 2.75rem;
}
.header__play svg {
  border-radius: 50%;
  margin-right: 1rem;
  transition: all 0.3s;
}
.header__play svg:hover {
  box-shadow: 0 0 1rem #FF3F3A;
  opacity: 1.2;
}
.header__title {
  font-weight: 900;
  font-size: 4rem;
  line-height: 1.3;
  letter-spacing: 1px;
  max-width: 31.25rem;
  align-self: center;
  margin-bottom: 3.75rem;
}
.header__content-buttons {
  align-self: start;
}
.header__content-btn {
  margin-right: 1.5rem;
}
.header__content-btn:last-child {
  margin-right: 0;
}
.header__img {
  grid-row: 1/4;
  grid-column: 2/3;
  align-self: start;
  justify-self: end;
  width: 100%;
}

.header__row-inner {
  display: grid;
  grid-template: 3.75rem/repeat(7, minmax(max-content, 1fr));
  align-items: center;
  justify-items: center;
  padding-bottom: 4rem;
}
.header__row-inner > span {
  width: 8px;
  height: 8px;
  background: #FF3F3A;
  border-radius: 50%;
}
.header__row-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__row-item span {
  font-weight: 900;
  font-size: 2.578rem;
  line-height: 1.3;
  margin-right: 1rem;
}

@media (max-width: 1200px) {
  .header__img {
    width: 99%;
  }
}
@media (max-width: 1100px) {
  .header {
    padding-top: 5.75rem;
  }
  .header__top, .header__top--open {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 40;
    min-width: 40vw;
    transform: translateX(100%);
    transition: all 0.5s;
  }
  .header__top--open {
    transform: translateX(0%);
  }
  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 6.25rem 0;
  }
  .header__content {
    margin: 0rem 0rem 0rem 0rem;
  }
  .header__btn-box {
    flex-direction: column-reverse;
  }
  .header__top-btn {
    margin: 0;
  }
  .header__logo {
    margin: 0 0 1.875rem 0;
  }
  .header__user-nav {
    margin-bottom: 1.875rem;
  }
  .header__nav {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }
  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .header__nav-item {
    margin: 0;
  }
  .header__nav-link {
    display: block;
    padding: 0.625rem;
  }
}
@media (max-width: 1000px) {
  .header__title {
    font-weight: 800;
    font-size: 3.5rem;
  }
}
@media (max-width: 900px) {
  .header {
    margin-bottom: 5rem;
    height: auto;
    padding-bottom: 5rem;
  }
  .header__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
  }
  .header__content-buttons {
    align-self: center;
  }
  .header__img {
    display: none;
  }
  .header__row {
    display: none;
  }
}
@media (max-width: 500px) {
  .header__content-btn {
    margin-bottom: 1rem;
  }
  .header__content-btn:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 400px) {
  .header__top, .header__top--open {
    width: 100vw;
  }
}
.burger {
  display: none;
}

@media (max-width: 1100px) {
  .burger, .burger--close {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 50;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
  }
  .burger--follow, .burger--close--follow {
    background-color: #fff;
    top: 15px;
    right: 15px;
    box-shadow: 0 1px 6px #D7DADD;
  }
  .burger span, .burger--close span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #1E212C;
    border-radius: 4px;
    margin: 4px 0;
  }
  .burger::before, .burger::after, .burger--close::before, .burger--close::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background-color: #1E212C;
    border-radius: 4px;
  }
  .burger--close::before, .burger--close--close::before {
    transform: rotate(45deg);
    transition: all 0.8s;
  }
  .burger--close::after, .burger--close--close::after {
    transform: rotate(-45deg);
    transition: all 0.8s;
  }
  .burger--close span, .burger--close--close span {
    background-color: transparent;
    margin: -3px 0;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    background: rgba(0, 0, 0, 0.349);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
  }
}
.about {
  margin-bottom: 10rem;
}
.about::before {
  background: url("./images/decor/1.svg");
}
.about__createx {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11, 25rem;
  gap: 2rem;
}
.about__createx-content {
  max-width: 37.5rem;
}
.about__heading {
  margin-bottom: 2.5rem;
}
.about__text {
  margin-bottom: 4.125rem;
}
.about__paragraph--accent {
  color: #1E212C;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
  margin-bottom: 1.5rem;
}
.about__btn {
  margin-right: 1.5rem;
}
.about__btn:last-child {
  margin-right: 0;
}
.about__img {
  transition: 0.5s;
}
.about__img:hover {
  transform: scale(1.2);
}
.about__image-box {
  margin-right: 3rem;
  overflow: hidden;
  position: relative;
}
.about__image-box img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__image-main {
  transition: 0.5s;
}
.about__image-main:hover {
  transform: scale(1.6, 1.6) rotate(-20deg);
  filter: contrast(110%);
}
.about__values {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
}
.about__numbers {
  margin-bottom: 1.25rem;
}
.about__numbers:last-child {
  margin-bottom: 0;
}
.about__number {
  color: #1E212C;
}
.about__number > span {
  color: #FF3F3A;
  font-weight: 900;
  font-size: 3rem;
  line-height: 130%;
  letter-spacing: 1px;
  margin-right: 1rem;
}

@media (max-width: 1000px) {
  .about__img {
    width: 46%;
  }
}
@media (max-width: 900px) {
  .about__createx {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    margin-bottom: 8rem;
  }
  .about__createx-content {
    max-width: 70vw;
  }
  .about__img {
    max-width: 28%;
    align-self: end;
    margin-bottom: -9rem;
  }
  .about__image-box {
    margin-right: 1rem;
  }
}
@media (max-width: 700px) {
  .about {
    margin-bottom: 6rem;
  }
  .about__createx {
    margin-bottom: 7rem;
  }
  .about__btn {
    margin-bottom: 1rem;
  }
  .about__btn:last-child {
    margin-bottom: 0;
  }
  .about__values {
    flex-direction: column;
    align-items: center;
  }
  .about__image-box {
    display: none;
  }
}
@media (max-width: 550px) {
  .about__img {
    display: none;
  }
}
@media (max-width: 400px) {
  .about__heading {
    margin-bottom: 1.5rem;
  }
}
.directions {
  padding-bottom: 11.25rem;
  position: relative;
}
.directions__inner::after {
  content: "";
  display: block;
  position: absolute;
  top: 1.875rem;
  left: 11.875rem;
  width: 8.5rem;
  height: 7.25rem;
  background: url("../images/decor/2.svg") 0 0 no-repeat;
}
.directions__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 25rem;
  right: -5.5rem;
  width: 15.25rem;
  height: 15.25rem;
  background: url("../images/decor/3.svg") 0 0 no-repeat;
  opacity: 0.12;
}
.directions__heading {
  margin-bottom: 5.625rem;
}
.directions__filter-box {
  display: flex;
  margin-bottom: 3.5rem;
  flex-wrap: wrap;
}
.directions__filter-item {
  margin-right: 2.875rem;
  margin-bottom: 1.5rem;
}
.directions__filter-item:last-child {
  margin-right: 0;
}
.directions__filter-btn {
  color: #9A9CA5;
  border: 1px solid #9A9CA5;
  border-radius: 4px;
  background: transparent;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
  padding: 0.375rem 0.5rem;
}
.directions__filter-btn--active {
  border: none;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  color: #fff;
  padding: 0.375rem 0.5rem;
}
.directions__list {
  display: grid;
  grid-template: repeat(2, auto)/repeat(3, 1fr);
  gap: 1.875rem;
}
.directions__list-item {
  border-radius: 4px;
}
.directions__list-item--marketing .directions__link-tag {
  background-color: #03CEA4;
}
.directions__list-item--management .directions__link-tag {
  background-color: #5A87FC;
}
.directions__list-item--hr .directions__link-tag {
  background-color: #F89828;
}
.directions__list-item--design .directions__link-tag {
  background-color: #F52F6E;
}
.directions__list-item--development .directions__link-tag {
  background-color: #7772F1;
}
.directions__list-item--empty {
  background: #F4F5F7;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.directions__list-item--empty > span {
  max-width: 15rem;
}
.directions__list-link {
  display: block;
  transition: all 1s;
}
.directions__list-link:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: all 0.3s;
}
.directions__list-link:hover .directions__link-btn {
  color: #FF3F3A;
  transition: all 0.3s;
}
.directions__image-box {
  border-radius: 4px;
  overflow: hidden;
}
.directions__image-box > img {
  width: 100%;
  height: 100%;
}
.directions__link-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid #E5E8ED;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.directions__link-tag {
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  padding: 0.375rem 0.5rem;
  border-radius: 4px;
  align-self: flex-start;
}
.directions__link-text {
  color: #787A80;
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.directions__link-btn {
  display: flex;
  color: #1E212C;
  transition: all 1s;
}
.directions__link-btn::after {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background: url("../images/icons/arrow-right-red.svg") 0 2px/100% no-repeat;
  margin-left: 0.75rem;
}

.heading--text-center {
  text-align: center;
}

@media (max-width: 900px) {
  .directions {
    padding-bottom: 9rem;
  }
}
@media (max-width: 700px) {
  .directions__list {
    grid-template: repeat(3, auto)/repeat(2, 1fr);
  }
  .directions__filter-box {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 550px) {
  .directions__filter-item {
    margin-right: 1.5rem;
  }
  .directions__list {
    grid-template: none;
  }
  .directions__list-item--empty {
    display: none;
  }
}
.cert__inner {
  display: flex;
  justify-content: space-between;
}
.cert__content {
  max-width: 27rem;
}
.cert__heading {
  margin-bottom: 3rem;
}
.cert__text {
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 2rem;
  color: #424551;
}
.cert__logos {
  display: flex;
  justify-content: space-between;
}
.cert__image-box {
  margin-bottom: -3.125rem;
}
.cert__image-box > img {
  border: 1px solid #E5E8ED;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  border-radius: 4px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1000px) {
  .cert__inner {
    flex-direction: column;
    align-items: center;
  }
  .cert__content {
    max-width: 32rem;
    margin-bottom: 2rem;
  }
}
.team {
  background: url("../images/decor/team-bg.svg") calc(50% + 140px) calc(50% - 120px) no-repeat, #F4F5F7;
  padding: 10.5rem 0;
}
.team__heading {
  margin: 0 0 3.75rem 0;
  position: relative;
}
.team__slider-arrows {
  display: flex;
}
.team__slider-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
}
.team__slider-arrow {
  display: block;
  line-height: 0;
  border-radius: 50%;
  position: relative;
  z-index: 5;
  transition: all 0.3s;
}
.team__slider-arrow:hover path {
  fill: #fff;
}
.team__slider-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 3rem;
  height: 3rem;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.3s;
}
.team__slider-arrow:hover::before {
  transform: translate(-50%, -50%) scale(1);
}
.team__slider-prev {
  margin-right: 1.5rem;
}
.team__slider .slick-list {
  margin: 0 -1rem;
}
.team__slide {
  padding: 0 1rem;
}
.team__slide:hover .team__socials {
  transform: translateY(0%);
}
.team__image-box {
  border-radius: 4px;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
}
.team__image {
  height: 21.25rem;
}
.team__image > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.team__socials {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.25rem;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
  transform: translateY(50%);
  transition: all 0.3s;
}
.team__socials-item {
  margin-right: 0.75rem;
}
.team__socials-item:last-child {
  margin-right: 0;
}
.team__socials-link {
  display: block;
  line-height: 0;
}
.team__socials-link path {
  transition: all 0.3s;
}
.team__socials-link:hover path {
  fill: #fff;
}
.team__info {
  text-align: center;
}
.team__info-name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
  color: #424551;
  margin-bottom: 0.375rem;
}
.team__info-position {
  font-weight: 400;
  color: #787A80;
}

@media (max-width: 900px) {
  .team {
    padding: 9rem 0rem;
  }
}
.testimonials {
  background: url("../images/decor/testi-bg.svg") 0 0/100% no-repeat, #F4F5F7;
  padding: 0 0 12.125rem 0;
  position: relative;
}
.testimonials__heading {
  margin: 0 0 60px 0;
}
.testimonials__slider-wrapper {
  padding: 0 50px;
  position: relative;
  margin-bottom: 40px;
}
.testimonials__slider {
  max-width: 1020px;
  margin: 0 auto;
}
.testimonials__slide {
  background-color: #fff;
  border-radius: 4px;
  padding: 64px;
}
.testimonials__slide-inner {
  max-width: 810px;
  margin: 0 auto;
  padding-left: 58px;
}
.testimonials__quote {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  margin: 0 0 1.5rem 0;
  position: relative;
}
.testimonials__quote::before {
  content: "";
  background: url("../images/icons/quote-icon.svg") 0 0/100% no-repeat;
  width: 28px;
  height: 20px;
  position: absolute;
  left: -58px;
  top: 0;
}
.testimonials__user {
  display: flex;
  align-items: center;
}
.testimonials__avatar {
  margin: 0 20px 0 0;
}
.testimonials__avatar img {
  border-radius: 100%;
}
.testimonials__info-name {
  font-weight: 700;
  color: #1E212C;
  margin: 0 0 4px 0;
}
.testimonials__info-position {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 150%;
  color: #787A80;
}
.testimonials__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  z-index: 1;
}
.testimonials__arrow:hover path {
  fill: #fff;
  transition: all 0.3s;
}
.testimonials__arrow::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #FF3F3A;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s;
}
.testimonials__arrow:hover::before {
  opacity: 1;
  transform: scale(1);
}
.testimonials__prev {
  left: 0;
}
.testimonials__next {
  right: 0;
}
.testimonials__dots button {
  width: 1.25rem;
}
.testimonials__dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials__dots .slick-dots button {
  font-size: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
}
.testimonials__dots .slick-dots button::before {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #B3B7BC;
  border-radius: 3px;
}
.testimonials__dots .slick-active button::before {
  background-color: #424551;
  transition: all 0.3s;
}
.testimonials__dots .slick-dots li {
  margin-right: 12px;
}
.testimonials__dots .slick-dots li:last-child {
  margin-right: 0;
}

@media (max-width: 1000px) {
  .testimonials {
    padding: 0 0 9rem 0;
  }
}
@media (max-width: 700px) {
  .testimonials {
    padding: 0 0 7rem 0;
  }
  .testimonials__slider-wrapper {
    padding: 0 0px;
  }
  .testimonials__slide {
    padding: 30px 15px;
  }
  .testimonials__arrow {
    display: none;
  }
}
@media (max-width: 550px) {
  .testimonials__slider-wrapper {
    margin-bottom: 15px;
  }
  .testimonials__slide-inner {
    padding-left: 30px;
  }
  .testimonials__quote {
    font-size: inherit;
    line-height: inherit;
  }
  .testimonials__quote::before {
    left: -30px;
    width: 20px;
  }
  .testimonials__dots button {
    width: 20px;
  }
}
.companies {
  background: #F4F5F7;
  padding: 0 0 11rem 0;
}
.companies__inner {
  position: relative;
}
.companies__inner::before {
  content: "";
  position: absolute;
  left: 7.5rem;
  bottom: 7.5rem;
  background: url("../images/decor/5.svg") 0 0/100% no-repeat;
  width: 90px;
  height: 90px;
}
.companies__heading {
  margin: 0 0 3.75rem 0;
}
.companies__grid {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(6, 1fr);
  justify-items: center;
  gap: 2.5rem 5%;
}
.companies__grid-link {
  filter: grayscale(1);
  opacity: 0.4;
  transition: all 1s;
}
.companies__grid-link:hover {
  filter: grayscale(0);
  opacity: 1;
}

@media (max-width: 1000px) {
  .companies {
    padding: 0 0 7rem 0;
  }
  .companies__grid {
    grid-template: repeat(3, auto)/repeat(4, 1fr);
  }
}
@media (max-width: 700px) {
  .companies__grid {
    grid-template: repeat(4, auto)/repeat(3, 1fr);
  }
}
@media (max-width: 550px) {
  .companies__grid {
    grid-template: repeat(6, auto)/repeat(2, 1fr);
  }
}
.program {
  margin: 7.25rem 0 11.625rem 0;
  font-weight: 400;
}
.program__inner {
  display: flex;
  justify-content: space-between;
}
.program__content {
  margin: 0rem 7rem 0rem 0rem;
}
.program__heading {
  margin: 0rem 0rem 3.75rem 0rem;
}
.program__acc-item {
  margin: 0rem 0rem 1.5rem 0rem;
}
.program__acc-head {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
  color: #1E212C;
  margin: 0rem 0rem 1rem 0rem;
  padding: 0rem 0rem 0rem 2.5rem;
  position: relative;
}
.program__acc-head::before, .program__acc-head::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 1.25rem;
  height: 2px;
  background-color: #FF3F3A;
  border-radius: 2px;
}
.program__acc-head::after {
  transform: rotate(90deg);
}
.program__acc-link--active .program__acc-head::after {
  transform: rotate(0deg);
}
.program__acc-link--active .program__acc-text {
  display: block;
}
.program__acc-head span {
  font-size: 1.25rem;
  line-height: 150%;
  color: #FF3F3A;
  margin: 0rem 0.5rem 0rem 0rem;
}
.program__acc-text {
  color: #424551;
  max-width: 37.5rem;
  display: none;
  margin: 0rem 0rem 0rem 2.5rem;
}
.program__image {
  padding: 5rem 0rem 0rem 0rem;
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}
.program__image img {
  width: 40vw;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin-left: auto;
}

@media (max-width: 1100px) {
  .program__inner {
    align-items: center;
  }
  .program__content {
    margin: 0rem 3rem 0rem 0rem;
  }
  .program img {
    width: 40vw;
  }
}
@media (max-width: 900px) {
  .program__inner {
    width: 85vw;
    margin: 0 auto;
  }
  .program__content {
    margin: 0rem 0rem 0rem 0rem;
  }
  .program__image {
    display: none;
  }
  .program__acc-item {
    width: inherit;
  }
}
.blog {
  margin: 0rem 0rem 13.25rem 0rem;
}
.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0rem 0rem 3.75rem 0rem;
}
.blog__heading {
  flex-grow: 2;
}
.blog__btn {
  margin-bottom: 14px;
}
.blog__row {
  display: flex;
  margin: 0rem -1rem;
}
.blog__item {
  padding: 0rem 1rem;
  flex: 0 1 33.333%;
}
.blog__item-link {
  display: block;
  height: 100%;
  transition: all 1s;
}
.blog__item-link:hover {
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: all 1s;
}
.blog__item-link:hover .blog__item-btn {
  color: #FF3F3A;
  transition: all 0.5s;
}
.blog__item-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog__image-box {
  position: relative;
  margin: 0rem 0rem 1rem 0rem;
  max-height: 19.625rem;
  border-radius: 4px;
  overflow: hidden;
}
.blog__image-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.blog__image-box span {
  display: flex;
  align-items: center;
  position: absolute;
  top: 12px;
  left: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #424551;
  background-color: #fff;
  padding: 0.125rem 0.5rem;
  border-radius: 4px;
}
.blog__image-box span::before {
  content: "";
  display: block;
  width: 12px;
  height: 15px;
  margin-right: 4px;
}
.blog__image-box--podcast.blog__image-box span::before {
  background: url("../images/icons/podcast-icon.svg") 0 0/100% no-repeat;
}
.blog__image-box--podcast.blog__image-box {
  background: #a2d0f7;
}
.blog__image-box--video.blog__image-box span::before {
  background: url("../images/icons/play-mini.svg") 0 0/100% no-repeat;
}
.blog__image-box--video.blog__image-box {
  background: #caf0e3;
}
.blog__image-box--article.blog__image-box span::before {
  background: url("../images/icons/article-icon.svg") 0 0/100% no-repeat;
}
.blog__image-box--article.blog__image-box {
  background: #fff8aa;
}
.blog__item-info {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
  margin: 0rem 0rem 0.5rem 0rem;
}
.blog__info-el {
  margin: 0rem 0.75rem 0rem 0rem;
  white-space: nowrap;
}
.blog__info-dir {
  font-weight: 700;
}
.blog__info-date {
  font-weight: 400;
  position: relative;
  margin: 0rem 0.75rem 0rem 2rem;
}
.blog__info-date::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../images/icons/calendar-icon.svg") 0 0/100% no-repeat;
  position: absolute;
  top: calc(50% - 8px);
  left: -22px;
}
.blog__info-time {
  font-weight: 400;
  margin: 0rem 0rem 0rem 2rem;
  position: relative;
}
.blog__info-time::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../images/icons/clock-icon.svg") 0 0/100% no-repeat;
  position: absolute;
  top: calc(50% - 8px);
  left: -22px;
}
.blog__info-line {
  border: solid 1px #787A80;
  height: 12px;
  margin: auto 0;
}
.blog__item-title {
  margin: 0rem 0rem 0.5rem 0rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 150%;
  color: #1E212C;
}
.blog__item-text {
  margin: 0rem 0rem 1rem 0rem;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  flex-grow: 1;
}
.blog__item-btn {
  display: inline-block;
  font-weight: 700;
  color: #1E212C;
  position: relative;
  transition: all 1.5s;
  align-items: end;
}
.blog__item-btn::after {
  content: "";
  width: 18px;
  height: 12px;
  background: url("../images/icons/arrow-right-red.svg") 0 0/100% no-repeat;
  position: absolute;
  top: calc(50% - 7px);
  right: -32px;
}

@media (max-width: 1100px) {
  .blog__item-info {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 0.5rem;
  }
  .blog__info-el {
    padding: 0;
  }
  .blog__info-dir {
    order: 1;
  }
  .blog__info-date {
    order: 3;
    flex-basis: 100%;
    margin: 0rem 3.75rem 0rem 1.3rem;
  }
  .blog__info-time {
    order: 2;
  }
  .blog__info-line {
    display: none;
  }
}
@media (max-width: 900px) {
  .blog {
    margin: 0rem 0rem 7rem 0rem;
  }
  .blog__row {
    flex-direction: column;
    margin: 0;
  }
  .blog__item {
    padding: 0px 0px 30px 0px;
  }
  .blog__image-box {
    display: flex;
    justify-content: center;
  }
  .blog__image-box img {
    width: auto;
  }
}
.info {
  margin: 0rem 0rem 11.25rem 0rem;
}
.info__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.info__content {
  margin: 0rem 2rem 0rem 0rem;
}
.info__heading {
  margin: 0rem 0rem 2.5rem 0rem;
}
.info__contacts {
  margin: 0rem 0rem 3rem 0rem;
}
.info__contacts-item {
  margin: 0rem 0rem 1.5rem 0rem;
  padding: 0rem 0rem 0rem 2.25rem;
  position: relative;
}
.info__contacts-item:last-child {
  margin: 0rem 0rem 0rem 0rem;
}
.info__contacts-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.info__mail::before {
  width: 22px;
  height: 20px;
  background: url("../images/icons/chat-icon.svg") 0 0/100% no-repeat;
}
.info__item-top {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #787A80;
}
.info__item-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
}
.info__tel::before {
  width: 14px;
  height: 22px;
  background: url("../images/icons/phone-icon.svg") 0 0/100% no-repeat;
}
.info__address::before {
  width: 17px;
  height: 22px;
  background: url("../images/icons/mark-icon.svg") 0 0/100% no-repeat;
}
.info__item-address {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1E212C;
}
.info__follow-head {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin: 0rem 0rem 1.5rem 0rem;
}
.info__socials {
  display: flex;
}
.info__socials-item {
  margin: 0rem 2rem 0rem 0rem;
}
.info__socials-item:last-child {
  margin: 0rem 0rem 0rem 0rem;
}
.info__socials-link path {
  transition: 0.5s;
}
.info__socials-link:hover path {
  fill: #FF3F3A;
}
.info__map {
  height: 100%;
  width: 100%;
  max-width: 705px;
  border-radius: 4px;
  overflow: hidden;
}

@media (max-width: 1000px) {
  .info {
    margin: 0rem 0rem 7rem 0rem;
  }
  .info__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    width: 90vw;
  }
  .info__follow-head {
    line-height: 100%;
  }
  .info__follow {
    margin: 0rem 0rem 1.5rem 0rem;
  }
  .info__map {
    max-height: 15rem;
  }
}
.questions {
  margin: 0rem 0rem 11.25rem 0rem;
}
.questions__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions__img {
  margin: 0rem 1.875rem 0rem 0rem;
}
.questions__heading {
  margin: 0rem 0rem 2.5rem 0rem;
}
.questions__form-row {
  display: flex;
  margin: 0rem 0rem 1.5rem 0rem;
}
.questions__form-label {
  margin: 0rem 1.5rem 0rem 0rem;
  flex: 1 1 auto;
}
.questions__form-label:last-child {
  margin: 0rem 0rem 0rem 0rem;
}
.questions__form-input {
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 0.8125rem 1rem;
  width: 100%;
  margin-top: 0.5rem;
}
.questions__form-input::-moz-placeholder {
  font-weight: 400;
  color: #9A9CA5;
}
.questions__form-input::placeholder {
  font-weight: 400;
  color: #9A9CA5;
}
.questions__text-label {
  display: block;
  margin-bottom: 3.125rem;
}
.questions__form-text {
  border: 1px solid #D7DADD;
  border-radius: 4px;
  padding: 0.8125rem 1rem;
  width: 100%;
  height: 8rem;
  margin-top: 0.5rem;
  resize: none;
  margin-bottom: 3.125rem;
}
.questions__form-text::-moz-placeholder {
  font-weight: 400;
  color: #9A9CA5;
}
.questions__form-text::placeholder {
  font-weight: 400;
  color: #9A9CA5;
}
.questions__checkbox-label {
  display: flex;
  margin-right: 3.125rem;
  width: 100%;
}
.questions__form-checkbox {
  position: relative;
  width: 1rem;
  height: 1rem;
  flex: 0 0 auto;
  margin: 0.375rem 0.75rem 0rem 0rem;
}
.questions__form-default {
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.questions__form-default:checked + .questions__form-custom {
  background: url("../images/icons/check.svg") 50% 50%/100% no-repeat, #FF3F3A;
  border: 1px solid #FF3F3A;
}
.questions__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #D7DADD;
  border-radius: 3px;
  cursor: pointer;
}
.questions__form-btn {
  width: 100%;
  align-self: center;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .questions {
    margin: 0rem 0rem 10rem 0rem;
  }
  .questions__img {
    width: 60%;
  }
  .questions__img img {
    width: 80%;
  }
  .questions__text-label {
    margin-bottom: 0;
  }
}
@media (max-width: 900px) {
  .questions {
    margin: 0rem 0rem 8rem 0rem;
  }
  .questions__content {
    width: 100%;
  }
  .questions__img {
    display: none;
  }
}
@media (max-width: 550px) {
  .questions {
    margin: 0rem 0rem 7rem 0rem;
  }
  .questions__form-row {
    flex-direction: column;
  }
  .questions__form-label {
    margin: 0rem 0rem 0rem 0rem;
  }
  .questions__checkbox-label {
    margin: 0rem 0rem 1.5rem 0rem;
  }
}
.footer__top {
  background-color: #1E212C;
  padding: 5rem 0rem 3.75rem 0rem;
}
.footer__top-inner {
  display: grid;
  grid-template-columns: repeat(5, auto);
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.footer__logo img {
  margin: 0rem 0rem 1.5rem 0rem;
}
.footer__top-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  opacity: 0.6;
  margin: 0rem 0rem 2.375rem 0rem;
}
.footer__socials {
  display: flex;
}
.footer__socials-item {
  margin: 0rem 1.25rem 0rem 0rem;
}
.footer__socials-item:last-child {
  margin: 0rem 0rem 0rem 0rem;
}
.footer__socials-link path {
  transition: all 0.5s;
}
.footer__socials-link:hover path {
  fill: #fff;
}
.footer__top-title {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 150%;
  color: #fff;
  margin: 0rem 0rem 0.75rem 0rem;
}
.footer__top-item {
  margin: 0rem 0rem 0.5rem 0rem;
}
.footer__item-link {
  font-weight: 400;
  color: #fff;
  opacity: 0.6;
  transition: all 0.5s;
}
.footer__item-link:hover {
  opacity: 1;
}
.footer__form-items {
  display: flex;
  justify-content: space-between;
  margin: 0rem 0rem 0.75rem 0rem;
  background: rgba(255, 255, 255, 0.1215686275);
  border: 1px solid rgba(255, 255, 255, 0.1215686275);
  border-radius: 4px;
}
.footer__form-input {
  background: transparent;
  padding: 10px 12px;
}
.footer__form-input:placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #fff;
  opacity: 0.6;
}
.footer__form-btn {
  background: transparent;
  padding: 10px 12px;
  transition: all 0.3s;
}
.footer__form-btn::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../images/icons/arrow-right-mini.svg");
}
.footer__form-btn:hover {
  transform: scale(1.5);
}
.footer__form-desc {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #fff;
}
.footer__bottom {
  background-color: #292C37;
}
.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 0rem;
}
.footer__copy {
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
}
.footer__copy span {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../images/icons/heart-icon.svg") 0 0/100% 100% no-repeat;
  vertical-align: sub;
}
.footer__go-top {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.6;
  transition: all 0.5s;
}
.footer__go-top:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */